@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

html {
    font-size: clamp(0.1rem, 0.7rem + 1.0vw, 1rem);
    line-height: 1.2;
}

@media (max-width: 37em){
    body {
        font-family: "Montserrat", serif;
        background-color: hsl(30, 38%, 92%);
    }
    
    article p {
        font-size: 14px;
        color: hsl(228, 12%, 48%);
    }

    h1 {
        font-family: "Fraunces", serif; 
    }

    article h1, h1 {
        font-size: 1.7em;
        font-family: "Fraunces", serif;
    }
    
    .card {
        display: block;
        margin: 100px auto;
        width: 22em;
        border: none;
        border-radius: 10px;
        background-color: hsl(0, 0%, 100%);
        align-items: center;
    }
    
    .desktop-card-img {
        display: none;
    }

    .mobile-card-img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 0px;
    }
    
    .content {
        padding: 30px;
        padding-top: 0;
    }
    
    .price {
        display: flex;
        gap: 20px;
        align-items: center;
        color: hsl(228, 12%, 48%);
    }
    
    .discounted-price {
        color: hsl(158, 36%, 37%);
    }
    
    .btn {
        background-color: hsl(158, 36%, 37%);
        color: hsl(0, 0%, 100%);
        border: none;
        border-radius: 10px;
        padding: 15px 50px 15px 50px;
        width: 90%;
    }
    
    .btn:hover {
        background-color: hsl(212, 21%, 14%);
        cursor: pointer;
    }

    .cart {
        margin-right: 10px;
    }
}

@media(min-width: 37em) {
    body {
        font-family: "Montserrat", serif;
        background-color: hsl(30, 38%, 92%);
    }

    article h1, h1 {
        font-family: "Fraunces", serif;
        font-size: 1.7em;
    }

    .card {
        display: flex;
        margin: 100px auto;
        width: 35em;
        gap: 30px;
        border: none;
        border-radius: 10px;
        background-color: hsl(0, 0%, 100%);
        align-items: center;
    }
    
    .desktop-card-img {
        width: 50%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-bottom: 0px;
    }
    
    .mobile-card-img {
        display: none;
    }

    .content {
        width: 50%;
        padding: 10px;
    }
    
    article p {
        font-size: 14px;
        color: hsl(228, 12%, 48%);
    }
    
    .price {
        display: flex;
        gap: 20px;
        align-items: center;
        color: hsl(228, 12%, 48%);
    }
    
    .discounted-price {
        color: hsl(158, 36%, 37%);
    }
    
    .btn {
        background-color: hsl(158, 36%, 37%);
        color: hsl(0, 0%, 100%);
        border: none;
        border-radius: 10px;
        padding: 15px 50px 15px 50px;
        width: 90%;
    }

    .btn:hover {
        background-color: hsl(212, 21%, 14%);
        cursor: pointer;
    }
    
    .cart {
        margin-right: 10px;
    }
}